<%= render @beer_club %>

<% if current_user %>
  <% if not @beer_club.members.include?(current_user) %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club" %>
    <% end %>
  <% else %>
    <%= form_with(url:"/memberships/#{(current_user.memberships.find_by "beer_club_id":@beer_club.id).id}", method: :delete) do |form| %>
      <%= form.submit "End the membership", class:"btn btn-warning"%>
    <% end %>
  <% end %>

<div>
  <br>
  <%= edit_and_destroy_buttons(@beer_club) %>
  <%= link_to "Back to beer clubs", beer_clubs_path, class:"btn btn-secondary" %>
</div>
<% end %>

