<%= javascript_include_tag "turbo", type: "module" %>
<p>
<strong>Username:</strong>
<%= @user.username %>
</p>


<% if not current_user.nil? %>
  <% if current_user.admin %>
    <% if not @user.active  %>
      <span class="badge bg-secondary">closed</span>
    <% end %>
  <% end %>
<% end %>

<p>
    <% if @user.ratings.empty? %>
    user hasn't given any ratings yet!
    <% else %>
      Has made <%= pluralize(@user.ratings.count, 'rating') %> with an average of <%= round(@user.average_rating) %>
    <% end %>
</p>
<p><strong>Ratings</strong></p>

<ul>
 <% @user.ratings.each do |rating| %>
   <li><%= "#{rating.to_s}" %>
   <% if @user == current_user %>
     <%= link_to "Delete", rating,  data: {turbo_method: :delete} %>
   <% end %>
   </li>
 <% end %>
</ul>

<p><strong>Member of</strong></p>
<ul>
 <% @user.beer_clubs.each do |club| %>
   <li> 
   <%= club.name %>
   </li>
 <% end %>
</ul>

<p>
  <% if @user.ratings.empty? %>
    user doesn't have a favorite brewery yet
  <% else %>
    <strong>Favorite brewery:</strong> <%= @user.favorite_brewery %>
  <% end %>

<p>
  <% if @user.ratings.empty? %>
    user doesn't have a favorite style yet
  <% else %>
    <strong>Favorite style:</strong> <%= @user.favorite_style %>
  <% end %>
<p>
<% if not current_user.nil? %>
  <% if current_user.admin %>
    <% if not @user.active  %>
      <%= link_to "open account", toggle_activity_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "close account", toggle_activity_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" %>
    <% end %>
  <% end %>
<% end %>
</p>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user), class:"btn btn-primary" %> |
    <%= link_to "Back to users", users_path, class:"btn btn-secondary" %></p>

    <p><%= button_to "Destroy this user", @user, class:"btn btn-danger", method: :delete %>
  <% end %>
</div>
