<p style="color: green"><%= notice %></p>
<%= javascript_include_tag "turbo", type: "module" %>
<p>
<strong>Username:</strong>
<%= @user.username %>
</p>

<p>
    <% if @user.ratings.empty? %>
    user hasn't given any ratings yet!
    <% else %>
      Has made <%= pluralize(@user.ratings.count, 'rating') %> with an average of <%= @user.average_rating %>
    <% end %>
</p>
<p><strong>Ratings</strong></p>

<ul>
 <% @user.ratings.each do |rating| %>
   <li> 
   <%= rating.beer.name %> <%= rating.score %>
   <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
   </li>
 <% end %>
</ul>

<p><strong>Member of</strong></p>
<ul>
 <% @user.beer_clubs.each do |club| %>
   <li> 
   <%= club.name %>
   </li>
 <% end %>
</ul>



<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
