<p style="color: green"><%= notice %></p>

<%= javascript_include_tag "turbo", type: "module" %>

<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %></p>
<%= link_to "New rating", new_rating_path %>

<ul>
  <% @ratings.each do |rating| %>
      <li>
        <%= render rating %>
      </li>
  <% end %>
</ul>