<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style.name %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= beer.brewery_id %>
  </p>

  <p>
    <% if beer.ratings.empty? %>
    beer has not yet been rated!
    <% else %>
      Beer has <%= pluralize(beer.ratings.count, 'rating') %> with an average of <%= round(beer.average_rating) %>
    <% end %>
  </p>

</div>
